@page "/"
@namespace NetCoreBB.DevServer.Pages
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NetCoreBB</title>
  <base href="/">
  <meta name="description" content="NetCoreBB Forum Software">
</head>
<body>
<div id="main">@(await Html.RenderComponentAsync<Frontend.Main.RootComponent>(BoleroHostConfig))</div>
@Html.RenderBoleroScript(BoleroHostConfig)
</body>
</html>
